/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: url("https://innorobo.com/wp-content/uploads/2015/02/Start-Up-Branding-Tips.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 3em;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
	width: 960px;
  margin: auto;
  padding: 20px 20px;
}

#content span {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: top left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#xForY {
  font-style: italic;
}

#savedIndicator {
  color: rgb(0, 163, 0);
}